*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue";
    width: 100%;
    color: #23232E;
}
header{
    background-color: #23232E;
    height: 750px;
    color: white;
    position: relative;
}
.header_content{
    text-align: center;
    padding-top: 200px;
    position: relative;
}
.header_subtitle{
    text-align: center;
    width: 450px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 24px;
    font-size: 18px;
}
h1{
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 1px;
    text-align: center;

}
h2{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 8px;

}
img.logo{
    width: 80px;
    padding-top: 50px;
    margin: 0 auto;
    display: block;
}
img.arrow{
    width: 36px;
    padding-top: 180px;
    margin: 0 auto;
    display: block;
}
.about{
    width: 50%;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    line-height: 24px;
    font-size: 18px;
}
.what-i-do{
    margin: 0 274px;

}
.what-i-do_item{
    width: 250px;
    display: inline-block;
    padding: 0 20px 60px 20px;
    font-size: 16px;
    padding-top: 65px;
}
.what-i-do_subtitle{
    color: gray;
    line-height: 22px;
}
